@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "untitled-font-1";
  src: url("fonts/untitled-font-1.eot");
  src: url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("fonts/untitled-font-1.woff") format("woff"), url("fonts/untitled-font-1.ttf") format("truetype"), url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-file:before {
  content: "\61"; }

.file-storage-title {
  font-size: 30pt;
  color: white; }

.form {
  text-align: left;
  color: white;
  padding: 30px;
  padding-left: 30px; }

.uploaded-content {
  color: white;
  padding-top: 50px; }

.uploaded-items {
  text-decoration: none; }

.item-to-upload {
  float: left; }

.item-name {
  float: left;
  font-size: 25px;
  padding-bottom: 10px; }

.remove-action {
  border: 0 none;
  padding-top: 4px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 300;
  background: none;
  float: right; }

.app-form-actions .app-button {
  text-align: center;
  display: block;
  border: 1px solid;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: none;
  padding: 10px 15px;
  width: 100px;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto; }

.app-file-select-zone {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 0 0; }
  .app-file-select-zone label {
    display: block;
    width: 100%; }
    .app-file-select-zone label input {
      position: fixed;
      top: -9999px; }
  .app-file-select-zone .app-upload-description {
    font-size: 12px;
    display: block; }
  .app-file-select-zone .app-upload-icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 1600px;
    max-width: 1600px;
    height: 80px;
    max-height: 80px;
    background-color: white;
    border: 3px solid #266fac;
    border-radius: 25px;
    position: relative;
    color: grey;
    padding: 20px; }
    .app-file-select-zone .app-upload-icon .app-upload-placeholder {
      font-size: 15pt; }

.app-uploaded-zone {
  width: 100%;
  display: block;
  text-align: center;
  padding: 40px 0 0 0; }
  .app-uploaded-zone label {
    display: block;
    width: 100%; }
    .app-uploaded-zone label input {
      position: fixed;
      top: -9999px; }
  .app-uploaded-zone .app-upload-description {
    font-size: 12px;
    display: block; }
  .app-uploaded-zone .app-upload-icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 1600px;
    height: 450px;
    background-color: white;
    border: 3px solid #266fac;
    border-radius: 25px;
    position: relative;
    color: grey;
    padding: 20px; }
    .app-uploaded-zone .app-upload-icon .app-upload-placeholder {
      font-size: 15pt; }

.uploaded-item {
  padding: 10px;
  float: left; }

.uploaded-item-name {
  font-size: 20pt; }

.download-title {
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: 15pt; }

/*# sourceMappingURL=filestorage.css.map */
